@model AdminLoginViewModel
@{
    Layout = "_AdminAuthLayout";
    ViewData["Title"] = "Admin Login";
}

<form asp-area="Admin" asp-controller="AdminAuthentication" asp-action="Login" method="post">
    <div class="form-group mb-2">
        <label class="form-label">Email</label>
        <input asp-for="Email" placeholder="Enter email address" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label class="form-label">Password</label>
        <input asp-for="Password" type="password" placeholder="Enter password" class="form-control" />
    </div>
    <div class="my-3">
        <form-visible-recaptcha />
    </div>
    <div class="form-group">
        <button class="btn btn-primary w-100 submit-btn">Login</button>
    </div>
</form>