<!DOCTYPE html>
<html>
<head>
    <partial name="_AdminSharedHead"/>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth w-100">
                <div class="row w-100 m-0">
                    <div class="mx-auto">
                        <div class="d-flex brand-form-container">
                            <a target="_blank" href="https://emeraude.dev/">
                                <img class="brand-logo-form" src="~/admin/images/logo_text.svg" />
                            </a>
                        </div>
                        <div class="auto-form-wrapper">
                            @RenderBody()
                        </div>
                        <p class="footer-text text-center">Copyright © @DateTime.Now.Year <a class="text-red" href="https://emeraude.dev/" target="_blank">Emeraude</a>. All rights reserved. </p>
                        <a class="footer-text text-left text-small" href="/"><span class="mdi mdi-arrow-left"></span> Go Back to Index</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_AdminSharedScripts"/>
</body>
</html>