<!DOCTYPE html>
<html>
<head>
    <partial name="_AdminSharedHead"/>
</head>
<body>
    <div id="main-body-container" class="container-scroller">
        <partial name="_Navbar"/>
        <div class="container-fluid page-body-wrapper">
            <partial name="_Sidebar"/>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="content-wrapper">
                                <partial name="_Breadcrumbs"/>
                                <partial name="_Notifications"/>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_Footer"/>
    </div>
    <partial name="_ResolutionMessageContainer"/>
    <partial name="_AdminSharedScripts"/>
    @RenderSection("Scripts", required: false)
</body>
</html>