<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | EmDoggoDev</title>

    <link href="~/admin/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/admin/fonts/puse-icons-feather/css/feather.css" rel="stylesheet">

    <link rel="stylesheet" href="~/admin/css/style.vendors.min.css" />
    <link rel="stylesheet" href="~/admin/css/style.min.css" />

    <link rel="icon" type="image/x-icon" href="~/admin/images/icon32.ico">
    <link rel="icon" type="image/png" href="~/admin/images/icon32.png">
    <link rel="apple-touch-icon" href="~/admin/images/icon200.png">
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one w-100">
                <div class="row w-100 m-0">
                    <div class="mx-auto">
                        <div class="d-flex brand-form-container">
                            <a target="_blank" href="/">
                                <img class="brand-logo-form" src="~/assets/images/dogapp_logo_text.png" />
                            </a>
                        </div>
                        <div class="auto-form-wrapper py-5">
                            @RenderBody()
                        </div>
                        <p class="footer-text text-center">Copyright © @DateTime.Now.Year <a class="text-red" href="https://emeraude.dev/" target="_blank">Emeraude</a>. All rights reserved. </p>
                        <a class="footer-text text-left text-small" href="/"><span class="mdi mdi-arrow-left"></span> Go Back to Index</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/js/scripts.vendors.min.js"></script>
    <script src="~/admin/js/scripts.min.js"></script>
</body>
</html>