<h3 class="mb-4 text-center w-100 font-weight-bold"><t>CONTINUE_WITH</t></h3>
<div>
    <form action="@Url.LanguageAction("ExternalLogin", "ClientMvcAuthentication", new { returnUrl = ViewData["ReturnUrl"] })" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-6 mb-2 mb-sm-0 btn-facebook-container">
                <button class="btn btn-facebook w-100" name="externalProvider" value="Facebook" type="submit"><i class="btn-social-icon fab fa-facebook-f"></i> <t class="btn-social-text">FACEBOOK</t></button>
            </div>
            <div class="col-sm-6 btn-google-container">
                <button class="btn btn-google w-100" name="externalProvider" value="Google" type="submit"><i class="btn-social-icon fab fa-google"></i> <t class="btn-social-text">GOOGLE</t></button>
            </div>
        </div>
    </form>
</div>
<p class="line-text-divider">
    <t>OR</t>
</p>