<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/admin/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/admin/fonts/puse-icons-feather/css/feather.css" rel="stylesheet">

    <link rel="stylesheet" href="~/client/css/style.vendors.min.css" />
    <link rel="stylesheet" href="~/client/css/style.min.css" />

    <link rel="stylesheet" href="~/assets/css/style.vendors.min.css.gz" />
    <link rel="stylesheet" href="~/assets/css/style.min.css.gz" />

    <link rel="icon" type="image/x-icon" href="~/client/images/icon32.ico">
    <link rel="icon" type="image/png" href="~/client/images/icon32.png">
    <link rel="apple-touch-icon" href="~/client/images/icon200.png">

    <title>EmDoggoDev</title>
</head>
<body class="p-0">
    @RenderBody()
</body>
</html>
