@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div id="main-body-container" class="container-scroller">
    <EmNavbar />
    <div class="container-fluid page-body-wrapper">
        <EmSidebar />
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="content-wrapper">
                            <partial name="_Breadcrumbs"/>
                            <partial name="_Notifications"/>
                            <div class="col-12 grid-margin p-3">
                                @Body
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <EmFooter />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();  
        var user = authState.User;  
        if (!user.Identity.IsAuthenticated)  
        {  
            NavigationManager.NavigateTo("/admin/login", true, true);
        }
    }
}