@using Definux.Emeraude.Configuration.Options
@using Definux.Emeraude.Configuration.Extensions
@inject IEmOptionsProvider OptionsProvider

<footer class="footer">
    <div class="container-fluid clearfix d-flex">
        <span class="text-muted me-auto ms-0">Copyright © @DateTime.Now.Year <a href="https://emeraude.dev/" target="_blank">Emeraude</a>. All rights reserved.</span>
        <span class="text-muted me-0 ms-auto">
            <span>Version @Version</span>
        </span>
    </div>
</footer>

@code {
    private string Version { get; set; }

    protected override void OnInitialized()
    {
        Version = OptionsProvider.GetMainOptions().EmeraudeVersion;
    }
}