// Background Mixins //
@mixin bg($color) {
  background: $color;
}
@mixin bg-gradient($color1,$color2) {
  background: $color1;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, $color1, $color2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, $color1, $color2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, $color1, $color2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, $color1, $color2);
  /* Standard syntax */
}
@mixin bg-inverse-variant($color) {
  background: rgba($color,0.2);
}

@mixin gradient-background-color($color) {
    background-color: $color;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color), to(darken($color, 5%)));
    background-image: -moz-linear-gradient($color, darken($color, 5%));
    background-image: -ms-linear-gradient($color, darken($color, 5%));
    background-image: -o-linear-gradient($color, darken($color, 5%));
    background-image: linear-gradient($color, darken($color, 5%));
}

@mixin gradient-background-color-inverse($color) {
    background-color: darken($color, 5%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(darken($color, 5%)), to($color));
    background-image: -moz-linear-gradient(darken($color, 5%), $color);
    background-image: -ms-linear-gradient(darken($color, 5%), $color);
    background-image: -o-linear-gradient(darken($color, 5%), $color);
    background-image: linear-gradient(darken($color, 5%), $color);
}