@using Definux.Emeraude.Admin.EmPages.UI.Adapters
@inject IEmPageManager EmPageManager

<EmPageView ViewModel="ViewModel">
    @if (ViewModel != null)
    {
        if (ViewModel.NonMappedFormErrors.Any())
        {
            foreach (var error in ViewModel.NonMappedFormErrors)
            {
                <div class="alert alert-danger p-2" role="alert">
                    @error
                </div>
            }
        }
        <form onsubmit="@HandleFormSubmitAsync">
            @foreach (var input in ViewModel.Inputs)
            {
                <EmPageFormInput Model="input"/>
            }
            <hr/>
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary me-auto mr-0">Save</button>
            </div>
        </form>
    }
</EmPageView>

@code {
    [Parameter]
    public EmPageFormViewModel ViewModel { get; set; }

    [Parameter]
    public EmPageFormType Type { get; set; }
    
    private async Task HandleFormSubmitAsync()
    {
        await EmPageManager.SubmitFormViewModelAsync(Type, ViewModel);
        StateHasChanged();
    }
}