@model IInitialState
@{
    Layout = "_Layout";
}

<div asp-emeraude-app="true" asp-server-bundle="/wwwroot/dist/bundle.server.js" asp-initial-state="Model"></div>
<script src="~/dist/vendors.client.js.gz" asp-append-version="true"></script>
<script src="~/dist/manifest.client.js.gz" asp-append-version="true"></script>
<script src="~/dist/bundle.client.js.gz" asp-append-version="true"></script>