.navbar {
    &.fixed-top {
        +.page-body-wrapper {
            padding-top: $navbar-height;
        }
    }
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-mini {
    @media (min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: $sidebar-width-mini;
            }

            .navbar-menu-wrapper {
                width: calc(100% - #{$sidebar-width-mini});
            }
        }

        .sidebar {
            width: $sidebar-width-mini;

            .nav {
                .nav-item {
                    .nav-link {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        flex-direction: column;
                        position: relative;

                        .menu-title {
                            display: inline-block;
                        }

                        .badge {
                            margin-left: 5px;
                            display: none;
                        }

                        img {
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            margin-bottom: 10px;
                        }

                        .menu-arrow {
                            position: absolute;
                            right: 7px;
                        }

                        .menu-icon {
                            margin-right: 0;
                        }
                    }

                    &.nav-profile {
                        .nav-link {
                            justify-content: center;

                            .profile-name {
                                display: none;
                            }
                        }

                        i {
                            margin-left: 1rem;
                        }
                    }

                    .sidebar-sticker {
                        display: none;
                    }
                }
            }
        }

        .main-panel {
            width: calc(100% - #{$sidebar-width-mini});
        }

        &:not(.sidebar-icon-only) {
            //Apply these styles only when sidebar-mini is not collapsed to icon-only mode
            .sidebar {
                .nav {
                    &:not(.sub-menu) {
                        > .nav-item {
                            border-top: 1px solid rgba($sidebar-dark-menu-color, .2);

                            &.nav-doc,
                            &.nav-profile {
                                border-top: 0;
                            }

                            .nav-link {
                                height: auto;
                                padding: $sidebar-mini-menu-padding;

                                i {
                                    &.menu-icon {
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }

                    &.sub-menu {
                        padding: 0 0.5rem;

                        .nav-item {
                            .nav-link {
                                padding: 1rem 0;
                                text-align: center;

                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-icon-only {
    @media (min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: $sidebar-width-icon;

                .brand-logo {
                    display: none;
                }

                .brand-logo-mini {
                    display: flex;
                }
            }

            .navbar-menu-wrapper {
                width: calc(100% - #{$sidebar-width-icon});
            }
        }

        .sidebar {
            width: $sidebar-width-icon;

            .nav {
                overflow: visible;

                .nav-item {
                    position: relative;

                    .nav-link {
                        display: block;
                        text-align: center;
                        padding-left: 10px;
                        padding-right: 10px;

                        .badge,
                        .menu-title {
                            display: none;
                        }

                        i {
                            &.menu-icon {
                                margin-right: 0;
                            }

                            &.menu-arrow {
                                display: none;
                            }
                        }
                    }

                    &.nav-profile,
                    .sidebar-sticker {
                        display: none;
                    }

                    .collapse {
                        display: none;
                    }

                    &.hover-open {
                        .nav-link {
                            .menu-title {
                                display: flex;
                                align-items: center;
                                background: $selected-item-gray;
                                color: $white !important;
                                padding: 10px 12px;
                                left: $sidebar-width-icon;
                                position: absolute;
                                text-align: left;
                                top: 0;
                                width: $sidebar-icon-only-submenu-width;
                                z-index: 1;
                                height: $nav-link-height;
                                line-height: 1.8;
                                border-radius: 0px;

                                &:after {
                                    display: none;
                                }
                            }

                            &[data-toggle=collapse] {
                                .menu-title {
                                    border-bottom-right-radius: 0;

                                    @at-root #{selector-append(".rtl", &)} {
                                        border-bottom-left-radius: 0;
                                    }
                                }
                            }
                        }

                        &.active {
                            .menu-title {
                                background: $base;
                            }
                        }

                        .collapse,
                        .collapsing {
                            display: block;
                            padding: 0.5rem 0;
                            background: $submenu-gray;
                            color: $white;

                            @at-root #{selector-append(".sidebar-dark", &)} {
                                background: $sidebar-dark-menu-hover-bg;
                                color: $sidebar-dark-menu-color;
                            }

                            position: absolute;
                            top: $nav-link-height;
                            left: $sidebar-width-icon;
                            width: $sidebar-icon-only-submenu-width;
                            -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                            -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                            box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                        }
                    }
                }

                &.sub-menu {
                    padding: $sidebar-icon-only-submenu-padding;

                    .nav-item {
                        .nav-link {
                            text-align: left;
                            color: $white;

                            &:hover {
                                color: darken($white, 20%);
                            }
                        }

                        &:nth-child(5n+1),
                        &:nth-child(5n+2),
                        &:nth-child(5n+3),
                        &:nth-child(5n+4),
                        &:nth-child(5n+5) {
                            .nav-link {
                                &:before {
                                    background: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-panel {
            width: calc(100% - #{$sidebar-width-icon});
        }

        .footer {
            padding-left: calc(#{$sidebar-width-icon} + 1rem);
        }
    }
}