<div id="entity-table-view">
    <EmPagesView ViewSchema="ViewSchema">
        <EmPagesTableFilter/>
        <EmPagesTable HeadModel="ViewSchema.HeadModel" ViewData="ViewData" HasActions="ViewSchema.HasActions"/>
        <EmPagesTablePagination PaginationModel="ViewData.PaginationModel"/>
    </EmPagesView>
</div>

@code {
    [Parameter]
    public EmPageTableViewSchema ViewSchema { get; set; }
    
    [Parameter]
    public EmPageTableViewData ViewData { get; set; }
}