<div class="responsive-table table-container">
    <table class="table table-hover table-striped table-bordered">
        <EmPagesTableHead Model="HeadModel" HasActions="HasActions" />
        <EmPagesTableBody Rows="ViewData?.Rows ?? new List<EmPageTableRowModel>()" HasActions="HasActions" />
    </table>
</div>

@code {
    [Parameter]
    public EmPageTableHeadModel HeadModel { get; set; }

    [Parameter]
    public bool HasActions { get; set; }
    
    [Parameter]
    public EmPageTableViewData ViewData { get; set; }
}