@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.ForgotPasswordSuccess]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ForgotPasswordSuccess.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<div class="form-message">
    <t element="h5" class="text-center">@Titles.ForgotPasswordSuccess</t>
    <t element="p">@Messages.ForgotPasswordMessage</t>
    <t element="a" href="@Url.IndexAction()" class="btn btn-primary">@ActionsTexts.BackToHomePage</t>
</div>