@{
    Layout = "_AuthLayout";
    ViewData.SetTitle("Lockout");
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/Lockout.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<div class="form-message">
    <h5 class="text-center">Lockout</h5>
    <p>Your profile is temporary locked out</p>
    <a href="@Url.IndexAction()" class="btn btn-primary">Back to home page</a>
</div>