@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.Lockout]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/Lockout.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<div class="form-message">
    <t element="h5" class="text-center">@Titles.Lockout</t>
    <t element="p">@Messages.YourProfileIsTemporaryLockedOut</t>
    <t element="a" href="@Url.IndexAction()" class="btn btn-primary">@ActionsTexts.BackToHomePage</t>
</div>