@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.ResetPasswordSuccess]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ResetPasswordSuccess.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<div class="form-message">
    <t element="h5" class="text-center">@Titles.ResetPasswordSuccess</t>
    <t element="p">@Messages.ForgotPasswordMessage</t>
    <t element="a" href="@Url.LoginAction(ViewData)" class="btn btn-primary">@ActionsTexts.LogInWithYourProfile</t>
</div>