.full-page-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

.auth {
    min-height: 100vh;
    background: $content-bg-main;

    .auto-form-wrapper {
        background: $white;
        padding: 40px;
        border-radius: 4px;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
        box-shadow: 0 1px 3px rgba(0,0,0,.13);

        .form-group {
            .input-group {
                height: 44px;

                .form-control {
                    border: 1px solid darken($border-color, 5%);
                    border-right: none;
                    border-radius: 6px 0 0 6px;

                    &:focus {
                        border-right: none;
                        border-color: darken($border-color, 5%);
                    }
                }

                .input-group-append {
                    border-left: none;

                    .input-group-text {
                        border-radius: 0 6px 6px 0;
                        border-left: none;
                        border-color: darken($border-color, 5%);
                        color: #b6b6b6;
                    }
                }
            }

            .submit-btn {
                font-family: $type-1;
                font-size: 14px;
                padding: 12px 8px;
                font-weight: 600;
            }
        }

        .g-login {
            border: 1px solid $border-color;
            padding: 13px;
            font-size: 12px;
            font-weight: 600;
            background: transparent;
        }
    }

    .auth-footer {
        list-style-type: none;
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        li {
            margin-right: 10px;
            line-height: 1;
            padding-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.4);

            &:last-child {
                margin-right: 0;
                border-right: none;
            }

            a {
                font-size: 13px;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        @media (max-width: $grid-breakpoints-sm) {
            justify-content: center;
        }
    }

    .footer-text {
        margin-top: 10px;
        color: $black;
    }
}