.client-builder-page {
    .main-card {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        .card-body {
            padding: 15px;
        }

        .card-title {
            margin: 0px !important;
        }

        .card-subtitle {
            margin-top: 0px !important;
            font-size: 12px;
            margin-bottom: 15px !important;
        }
    }

    .table-row-icon {
        border-radius: 0px !important;
    }

    .cb-gen-btn {
        margin-right: 4px;

        .cb-gen-btn-img {
            height: 16px;
        }

        &:hover,
        &:active,
        &:focus {
            .cb-gen-btn-img {
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }

        .cb-gen-btn-text {
            position: relative;
            top: 2px;
        }
    }
}
