@model PredefinedViewMessageModel

<environment include="Development">
    <div class="alert alert-warning my-4">
        <p class="m-0">
            This view is predefined by the <strong>Definux.Emeraude.Client.UI</strong>. In case you want to override the current
            view create a file <strong>@Model.TargetView</strong> in your web project. More details can be found on <a target="_blank" href="@Model.DocumentationLink">Emeraude documentation</a>.
            This message is just for your information and it will not be shown on Production.
        </p>
    </div>
</environment>