/* Footer */
.footer {
    background: $sidebar-color-1;
    color: $white;
    padding: 20px 1rem;
    transition: all $action-transition-duration $action-transition-timing-function;
    -moz-transition: all $action-transition-duration $action-transition-timing-function;
    -webkit-transition: all $action-transition-duration $action-transition-timing-function;
    -ms-transition: all $action-transition-duration $action-transition-timing-function;
    font-size: calc(#{$default-font-size} - 0.05rem);
    font-family: $type-1;
    padding-left: calc(#{$sidebar-width-lg} + 1rem);

    a {
        color: $primary;
        font-size: inherit;
    }

    @media (max-width: 991px) {
        margin-left: 0;
        width: 100%;
        padding: 20px 1rem;
    }
}