$base: #7eb62f;
$base-dark: #5a9900;
$light-gray: #bebebe;
$lighter-gray: #ddd;
$dark-gray: #999;

$blue: #00aeef;
$indigo: #6610f2;
$purple: #ab8ce4;
$pink: #E91E63;
$red: #ff0017;
$orange: #fb9678;
$yellow: #ffd500;
$green: #3bd949;
$teal: #58d8a3;
$cyan: #57c7d4;
$black: #000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$ghost-white: #f7fafc;
$violet: #41478a;
$darkslategray: #2e383e;
$dodger-blue: #3498db;
$light-gray: #bebebe;
$lighter-gray: #e4e5e8;
$primary: #7eb62f;
$danger: #ff6258;

$csharp-warning-bg: #fefcc8;

$blue-teal-gradient: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
$primary-gray: #5f5f5f;
$blue-teal-gradient-light: linear-gradient(120deg, rgba(0, 228, 208, 0.7), rgba(89, 131, 232, 0.7));
$theme-colors: (primary: #7eb62f, secondary: #e6eef2, success: #3c8dde, info: #00aeef, warning: #ffaf00, danger: #ff6258, light: #fbfbfb, dark: #23282d, primary-inverse: #7eb62f);
$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, white-smoke: #f3f5f6, gray: $gray-600, gray-light: #8ba2b5, gray-lightest: #f7f7f9, gray-dark: #292b2c);
////////// COLOR SYSTEM //////////
////////// SOCIAL COLORS //////////
$social-colors: (twitter: #4DBFF5, facebook: #648ACA, google: #E55F4B, linkedin: #0177b4, pinterest: #cc2127, youtube: #e52d27, github: #333333, behance: #1769ff, dribbble: #ea4c89, reddit: #ff4500);
////////// SOCIAL COLORS //////////

$sidebar-default: #23282d;
$content-bg: #f3f4fa;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #f2f2f2;
$footer-height: 60px;

////////// FONTS //////////
$type-1: 'Nunito', sans-serif;
$type-2: $type-1;
$default-font-size: 0.875rem; //14px
$text-muted: #858585;
$body-color: #212529;
////////// FONT VARIABLES //////////
////////// BOOTSTRAP BREAKPOINTS //////////
$grid-breakpoints-xs: 0px;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
////////// BOOTSTRAP BREAKPOINTS //////////

////////// COLOR VARIABLES //////////
$content-bg: #f3f4fa;
////////// COLOR VARIABLES //////////

///////// SETTINGS PANEL ////////
$settings-panel-width: 300px;

///////// BUTTONS ////////
$button-fixed-width: 120px;
$btn-padding-y: 0.56rem;
$btn-padding-x: 1.375rem;
$btn-line-height: 1;
$btn-padding-y-xs: .5rem;
$btn-padding-x-xs: .75rem;
$btn-padding-y-sm: 0.50rem;
$btn-padding-x-sm: 0.81rem;
$btn-padding-y-lg: 0.94rem;
$btn-padding-x-lg: 1.94rem;
$btn-font-size: .875rem;
$btn-font-size-xs: .625rem;
$btn-font-size-sm: .875rem;
$btn-font-size-lg: .875rem;
$btn-border-radius: .1875rem;
$btn-border-radius-xs: .1875rem;
$btn-border-radius-sm: .1875rem;
$btn-border-radius-lg: .1875rem;
$social-btn-padding: 13px;
$social-btn-icon-size: 1rem;
///////// BUTTONS ////////
/////////  FORMS /////////
$input-bg: color(white);
$input-border-radius: 2px;
$input-placeholder-color: #c9c8c8;
$input-font-size: .9rem;
$input-padding-y: .56rem;
$input-padding-x: 1.375rem;
$input-line-height: 1;
$input-padding-y-sm: .5rem;
$input-padding-x-sm: .81rem;
$input-line-height-sm: 1;
$input-padding-y-lg: .94rem;
$input-padding-x-lg: 1.94rem;
$input-line-height-lg: 1;
///////// FORMS /////////
////////  DROPDOWNS ///////
$dropdown-border-color: $border-color;
$dropdown-divider-bg: $border-color;
$dropdown-link-color: $body-color;
$dropdown-header-color: $body-color;
////////  DROPDOWNS ///////
//////// TABLES ////////
$table-accent-bg: rgba(144, 144, 144, 0.29);
$table-hover-bg: rgba(0, 0, 0, 0.25);
$table-cell-padding: 8px 15px;
$table-border-color: $border-color;
$table-inverse-bg: #2a2b32;
$table-inverse-color: color(white);
$table-striped-order: even;
//////// TABLES ////////
////////// MEASUREMENT AND PROPERTY VARIABLES //////////
$boxed-container-width: 1200px;
$border-property: 1px solid $border-color;
$card-spacing-y: 1.875rem;
$card-padding-y: 1.88rem;
$card-padding-x: 1.81rem;
$grid-gutter-width: 25px;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
////////// OTHER VARIABLES //////////
////////// BREAD CRUMBS VARIABLES //////////
// default styles
$breadcrumb-padding-y: 0.56rem;
$breadcrumb-padding-x: 1.13rem;
$breadcrumb-item-padding: .5rem;
$breadcrumb-margin-bottom: 1rem;
$breadcrumb-font-size: $default-font-size;
$breadcrumb-bg: transparent;
$breadcrumb-border-color: $border-color;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-700;
$breadcrumb-divider: "/";
// custom styles
$breadcrumb-custom-padding-y: 0;
$breadcrumb-custom-padding-x: 0;
$breadcrumb-custom-item-padding-y: 0.56rem;
$breadcrumb-custom-item-padding-x: 10px;
$breadcrumb-custom-item-color: $black;
$breadcrumb-item-bg: #dbe3e6;
////////// BREAD CRUMBS VARIABLES //////////
////////// MODALS VARIABLES //////////
$modal-inner-padding: 1rem;
$modal-dialog-margin: 10px;
$modal-dialog-margin-y-sm-up: 30px;
$modal-title-line-height: $line-height-base;
$modal-content-bg: $content-bg;
$modal-content-box-shadow-xs: 0 3px 9px rgba($black, .5);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($black, .5);
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .5;
$modal-header-border-color: $border-color;
$modal-content-border-color: $border-color;
$modal-footer-border-color: $border-color;
$modal-header-border-width: $border-width;
$modal-content-border-width: $border-width;
$modal-footer-border-width: $border-width;
$modal-header-padding-x: 26px;
$modal-header-padding-y: 25px;
$modal-body-padding-x: 26px;
$modal-body-padding-y: 35px;
$modal-footer-padding-x: 31px;
$modal-footer-padding-y: 15px;
$modal-lg: 90%;
$modal-md: 500px;
$modal-sm: 300px;
$modal-transition: transform .4s ease;
////////// MODALS VARIABLES //////////
////////// TOOLTIP VARIABLES //////////
//default styles
$tooltip-font-size: .75rem;
$tooltip-padding-y: .4rem;
$tooltip-padding-x: .75rem;
$tooltip-border-radius: .375rem;
$tooltip-bg: theme-color(dark);
$tooltip-arrow-color: $tooltip-bg;
////////// TOOLTIP VARIABLES //////////
////////// POPOVER VARIABLES //////////
//default styles
$popover-bg: theme-color(dark);
$popover-text-color: $white;
$popover-border-color: theme-color(dark);
$popover-arrow-color: $popover-bg;
$popover-arrow-outer-color: $popover-border-color;
$popover-header-bg: $popover-bg;
////////// POPOVER VARIABLES //////////

$content-bg-main: #f1f1f1;

/// classic buttons

$btn-primary-color-start: #45484d;
$btn-primary-color-end: #000000;
$btn-primary-color-border: #2a2c2f;
$btn-primary-color-start-hover: #2d2f32;
$btn-primary-color-end-hover: #1a1a1a;
$btn-primary-color-border-hover: #151617;

$btn-secondary-color-start: #939393;
$btn-secondary-color-end: #707070;
$btn-secondary-color-border: #777777;
$btn-secondary-color-start-hover: #7a7a7a;
$btn-secondary-color-end-hover: #575757;
$btn-secondary-color-border-hover: #606060;

$btn-info-color-start: #3093c7;
$btn-info-color-end: #1c5a85;
$btn-info-color-border: #25729a;
$btn-info-color-start-hover: #26759e;
$btn-info-color-end-hover: #133d5b;
$btn-info-color-border-hover: #1c5675;

$btn-success-color-start: #4ba614;
$btn-success-color-end: #008c00;
$btn-success-color-border: #262F17;
$btn-success-color-start-hover: #36780f;
$btn-success-color-end-hover: #005900;
$btn-success-color-border-hover: #151617;

$btn-warning-color-start: #eab92d;
$btn-warning-color-end: #c79810;
$btn-warning-color-border: #262F17;
$btn-warning-color-start-hover: #cf9f15;
$btn-warning-color-end-hover: #98740c;
$btn-warning-color-border-hover: #151617;

$btn-danger-color-start: #f62b2b;
$btn-danger-color-end: #d20202;
$btn-danger-color-border: #df0909;
$btn-danger-color-start-hover: #e40a0a;
$btn-danger-color-end-hover: #9f0202;
$btn-danger-color-border-hover: #b30808;

$submenu-gray: #32373c;
$unselected-item-gray: #b4b9be;
$selected-item-gray: #191e23;
$button-main-gray-color: #ececec;
$button-secondary-gray-color: #f4f4f4;
$button-border-gray-color: #d4d4d4;
$button-text-gray-color: #333333;
$primary-gradient: linear-gradient(120deg, $base, $base-dark);

////////// COLOR VARIABLES //////////
$content-bg:#f3f4fa;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #d0d0d0;
$footer-height: 60px;
////////// COLOR VARIABLES //////////

////////// SIDEBAR ////////
$sidebar-color-1: #23282d;
$sidebar-color-2: #32373c;
$sidebar-color-3: #a8a8a8;
$sidebar-color-4: #494f56;
$sidebar-width-lg: 200px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 40px;
$sidebar-light-bg: $white;
$sidebar-light-menu-color: #4a4a4a;
$sidebar-light-menu-active-bg: theme-color(primary);
$sidebar-light-menu-active-color: #fafbfc;
$sidebar-light-menu-hover-bg: $sidebar-light-menu-active-bg;
$sidebar-light-menu-hover-color: $sidebar-light-menu-color;
$sidebar-light-submenu-color: $sidebar-light-menu-color;
$sidebar-light-submenu-hover-bg: initial;
$sidebar-light-submenu-hover-color: #000;
$sidebar-light-category-color: #999999;
$sidebar-light-menu-icon-color: $sidebar-light-menu-color;
$sidebar-light-profile-name-color: #404852;
$sidebar-light-profile-title-color: #8d9498;
$sidebar-dark-bg: #252C46;
$sidebar-dark-menu-color: #9F9EA3;
$sidebar-dark-menu-active-bg: lighten($sidebar-dark-bg, 5%);
$sidebar-dark-menu-active-color: $white;
$sidebar-dark-menu-hover-bg: $sidebar-dark-menu-active-bg;
$sidebar-dark-menu-hover-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #000;
$sidebar-dark-category-color: #999999;
$sidebar-dark-menu-icon-color: #9F9EA3;
$sidebar-dark-profile-name-color: #404852;
$sidebar-dark-profile-title-color: #8d9498;
$sidebar-menu-font-size: .9375rem;
$sidebar-icon-size: 20px;
$sidebar-menu-padding: 16px 35px;
$nav-link-height: 41px;
$sidebar-submenu-padding: 0 0 0 4rem;
$sidebar-submenu-font-size: 14px;
$sidebar-submenu-item-padding: .75rem 1rem;
$sidebar-icon-font-size: .9375rem;
$sidebar-arrow-font-size: .625rem;
$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0rem 1.625rem 2.25rem 1.188rem;
$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;
$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0px;
$sidebar-icon-only-submenu-width: 200px;
$rtl-sidebar-submenu-padding: 0 3.45rem 0 0;
///////// SIDEBAR ////////

///////// NAVBAR ////////
$navbar-height: 43px;
$navbar-light-color: #202339;
$navbar-font-size: $sidebar-menu-font-size;
$navbar-icon-font-size: 1.25rem;
///////// NAVBAR ////////

$folder-color: #daac26;
$file-color: #90caf9;