$CSharpAliceBlue: #F0F8FF;
$CSharpAliceBlueBorder: #909599;
$CSharpAliceBlueHover: #C0C6CC;
$CSharpAntiqueWhite: #FAEBD7;
$CSharpAntiqueWhiteBorder: #968D81;
$CSharpAntiqueWhiteHover: #C8BCAC;
$CSharpAqua: #00FFFF;
$CSharpAquaBorder: #009999;
$CSharpAquaHover: #00CCCC;
$CSharpAquamarine: #7FFFD4;
$CSharpAquamarineBorder: #4C997F;
$CSharpAquamarineHover: #66CCAA;
$CSharpAzure: #F0FFFF;
$CSharpAzureBorder: #909999;
$CSharpAzureHover: #C0CCCC;
$CSharpBeige: #F5F5DC;
$CSharpBeigeBorder: #939384;
$CSharpBeigeHover: #C4C4B0;
$CSharpBisque: #FFE4C4;
$CSharpBisqueBorder: #998976;
$CSharpBisqueHover: #CCB69D;
$CSharpBlack: #000000;
$CSharpBlackBorder: #000000;
$CSharpBlackHover: #000000;
$CSharpBlanchedAlmond: #FFEBCD;
$CSharpBlanchedAlmondBorder: #998D7B;
$CSharpBlanchedAlmondHover: #CCBCA4;
$CSharpBlue: #0000FF;
$CSharpBlueBorder: #000099;
$CSharpBlueHover: #0000CC;
$CSharpBlueViolet: #8A2BE2;
$CSharpBlueVioletBorder: #531A88;
$CSharpBlueVioletHover: #6E22B5;
$CSharpBrown: #A52A2A;
$CSharpBrownBorder: #631919;
$CSharpBrownHover: #842222;
$CSharpBurlyWood: #DEB887;
$CSharpBurlyWoodBorder: #856E51;
$CSharpBurlyWoodHover: #B2936C;
$CSharpCadetBlue: #5F9EA0;
$CSharpCadetBlueBorder: #395F60;
$CSharpCadetBlueHover: #4C7E80;
$CSharpChartreuse: #7FFF00;
$CSharpChartreuseBorder: #4C9900;
$CSharpChartreuseHover: #66CC00;
$CSharpChocolate: #D2691E;
$CSharpChocolateBorder: #7E3F12;
$CSharpChocolateHover: #A85418;
$CSharpCoral: #FF7F50;
$CSharpCoralBorder: #994C30;
$CSharpCoralHover: #CC6640;
$CSharpCornflowerBlue: #6495ED;
$CSharpCornflowerBlueBorder: #3C598E;
$CSharpCornflowerBlueHover: #5077BE;
$CSharpCornsilk: #FFF8DC;
$CSharpCornsilkBorder: #999584;
$CSharpCornsilkHover: #CCC6B0;
$CSharpCrimson: #DC143C;
$CSharpCrimsonBorder: #840C24;
$CSharpCrimsonHover: #B01030;
$CSharpCyan: #00FFFF;
$CSharpCyanBorder: #009999;
$CSharpCyanHover: #00CCCC;
$CSharpDarkBlue: #00008B;
$CSharpDarkBlueBorder: #000053;
$CSharpDarkBlueHover: #00006F;
$CSharpDarkCyan: #008B8B;
$CSharpDarkCyanBorder: #005353;
$CSharpDarkCyanHover: #006F6F;
$CSharpDarkGoldenrod: #B8860B;
$CSharpDarkGoldenrodBorder: #6E5007;
$CSharpDarkGoldenrodHover: #936B09;
$CSharpDarkGray: #A9A9A9;
$CSharpDarkGrayBorder: #656565;
$CSharpDarkGrayHover: #878787;
$CSharpDarkGreen: #006400;
$CSharpDarkGreenBorder: #003C00;
$CSharpDarkGreenHover: #005000;
$CSharpDarkKhaki: #BDB76B;
$CSharpDarkKhakiBorder: #716E40;
$CSharpDarkKhakiHover: #979256;
$CSharpDarkMagenta: #8B008B;
$CSharpDarkMagentaBorder: #530053;
$CSharpDarkMagentaHover: #6F006F;
$CSharpDarkOliveGreen: #556B2F;
$CSharpDarkOliveGreenBorder: #33401C;
$CSharpDarkOliveGreenHover: #445626;
$CSharpDarkOrange: #FF8C00;
$CSharpDarkOrangeBorder: #995400;
$CSharpDarkOrangeHover: #CC7000;
$CSharpDarkOrchid: #9932CC;
$CSharpDarkOrchidBorder: #5C1E7A;
$CSharpDarkOrchidHover: #7A28A3;
$CSharpDarkRed: #8B0000;
$CSharpDarkRedBorder: #530000;
$CSharpDarkRedHover: #6F0000;
$CSharpDarkSalmon: #E9967A;
$CSharpDarkSalmonBorder: #8C5A49;
$CSharpDarkSalmonHover: #BA7862;
$CSharpDarkSeaGreen: #8FBC8F;
$CSharpDarkSeaGreenBorder: #567156;
$CSharpDarkSeaGreenHover: #729672;
$CSharpDarkSlateBlue: #483D8B;
$CSharpDarkSlateBlueBorder: #2B2553;
$CSharpDarkSlateBlueHover: #3A316F;
$CSharpDarkSlateGray: #2F4F4F;
$CSharpDarkSlateGrayBorder: #1C2F2F;
$CSharpDarkSlateGrayHover: #263F3F;
$CSharpDarkTurquoise: #00CED1;
$CSharpDarkTurquoiseBorder: #007C7D;
$CSharpDarkTurquoiseHover: #00A5A7;
$CSharpDarkViolet: #9400D3;
$CSharpDarkVioletBorder: #59007F;
$CSharpDarkVioletHover: #7600A9;
$CSharpDeepPink: #FF1493;
$CSharpDeepPinkBorder: #990C58;
$CSharpDeepPinkHover: #CC1076;
$CSharpDeepSkyBlue: #00BFFF;
$CSharpDeepSkyBlueBorder: #007399;
$CSharpDeepSkyBlueHover: #0099CC;
$CSharpDimGray: #696969;
$CSharpDimGrayBorder: #3F3F3F;
$CSharpDimGrayHover: #545454;
$CSharpDodgerBlue: #1E90FF;
$CSharpDodgerBlueBorder: #125699;
$CSharpDodgerBlueHover: #1873CC;
$CSharpFirebrick: #B22222;
$CSharpFirebrickBorder: #6B1414;
$CSharpFirebrickHover: #8E1B1B;
$CSharpFloralWhite: #FFFAF0;
$CSharpFloralWhiteBorder: #999690;
$CSharpFloralWhiteHover: #CCC8C0;
$CSharpForestGreen: #228B22;
$CSharpForestGreenBorder: #145314;
$CSharpForestGreenHover: #1B6F1B;
$CSharpFuchsia: #FF00FF;
$CSharpFuchsiaBorder: #990099;
$CSharpFuchsiaHover: #CC00CC;
$CSharpGainsboro: #DCDCDC;
$CSharpGainsboroBorder: #848484;
$CSharpGainsboroHover: #B0B0B0;
$CSharpGhostWhite: #F8F8FF;
$CSharpGhostWhiteBorder: #959599;
$CSharpGhostWhiteHover: #C6C6CC;
$CSharpGold: #FFD700;
$CSharpGoldBorder: #998100;
$CSharpGoldHover: #CCAC00;
$CSharpGoldenrod: #DAA520;
$CSharpGoldenrodBorder: #836313;
$CSharpGoldenrodHover: #AE841A;
$CSharpGray: #808080;
$CSharpGrayBorder: #4D4D4D;
$CSharpGrayHover: #666666;
$CSharpGreen: #008000;
$CSharpGreenBorder: #004D00;
$CSharpGreenHover: #006600;
$CSharpGreenYellow: #ADFF2F;
$CSharpGreenYellowBorder: #68991C;
$CSharpGreenYellowHover: #8ACC26;
$CSharpHoneydew: #F0FFF0;
$CSharpHoneydewBorder: #909990;
$CSharpHoneydewHover: #C0CCC0;
$CSharpHotPink: #FF69B4;
$CSharpHotPinkBorder: #993F6C;
$CSharpHotPinkHover: #CC5490;
$CSharpIndianRed: #CD5C5C;
$CSharpIndianRedBorder: #7B3737;
$CSharpIndianRedHover: #A44A4A;
$CSharpIndigo: #4B0082;
$CSharpIndigoBorder: #2D004E;
$CSharpIndigoHover: #3C0068;
$CSharpIvory: #FFFFF0;
$CSharpIvoryBorder: #999990;
$CSharpIvoryHover: #CCCCC0;
$CSharpKhaki: #F0E68C;
$CSharpKhakiBorder: #908A54;
$CSharpKhakiHover: #C0B870;
$CSharpLavender: #E6E6FA;
$CSharpLavenderBorder: #8A8A96;
$CSharpLavenderHover: #B8B8C8;
$CSharpLavenderBlush: #FFF0F5;
$CSharpLavenderBlushBorder: #999093;
$CSharpLavenderBlushHover: #CCC0C4;
$CSharpLawnGreen: #7CFC00;
$CSharpLawnGreenBorder: #4A9700;
$CSharpLawnGreenHover: #63CA00;
$CSharpLemonChiffon: #FFFACD;
$CSharpLemonChiffonBorder: #99967B;
$CSharpLemonChiffonHover: #CCC8A4;
$CSharpLightBlue: #ADD8E6;
$CSharpLightBlueBorder: #68828A;
$CSharpLightBlueHover: #8AADB8;
$CSharpLightCoral: #F08080;
$CSharpLightCoralBorder: #904D4D;
$CSharpLightCoralHover: #C06666;
$CSharpLightCyan: #E0FFFF;
$CSharpLightCyanBorder: #869999;
$CSharpLightCyanHover: #B3CCCC;
$CSharpLightGoldenrodYellow: #FAFAD2;
$CSharpLightGoldenrodYellowBorder: #96967E;
$CSharpLightGoldenrodYellowHover: #C8C8A8;
$CSharpLightGray: #D3D3D3;
$CSharpLightGrayBorder: #7F7F7F;
$CSharpLightGrayHover: #A9A9A9;
$CSharpLightGreen: #90EE90;
$CSharpLightGreenBorder: #568F56;
$CSharpLightGreenHover: #73BE73;
$CSharpLightPink: #FFB6C1;
$CSharpLightPinkBorder: #996D74;
$CSharpLightPinkHover: #CC929A;
$CSharpLightSalmon: #FFA07A;
$CSharpLightSalmonBorder: #996049;
$CSharpLightSalmonHover: #CC8062;
$CSharpLightSeaGreen: #20B2AA;
$CSharpLightSeaGreenBorder: #136B66;
$CSharpLightSeaGreenHover: #1A8E88;
$CSharpLightSkyBlue: #87CEFA;
$CSharpLightSkyBlueBorder: #517C96;
$CSharpLightSkyBlueHover: #6CA5C8;
$CSharpLightSlateGray: #778899;
$CSharpLightSlateGrayBorder: #47525C;
$CSharpLightSlateGrayHover: #5F6D7A;
$CSharpLightSteelBlue: #B0C4DE;
$CSharpLightSteelBlueBorder: #6A7685;
$CSharpLightSteelBlueHover: #8D9DB2;
$CSharpLightYellow: #FFFFE0;
$CSharpLightYellowBorder: #999986;
$CSharpLightYellowHover: #CCCCB3;
$CSharpLime: #00FF00;
$CSharpLimeBorder: #009900;
$CSharpLimeHover: #00CC00;
$CSharpLimeGreen: #32CD32;
$CSharpLimeGreenBorder: #1E7B1E;
$CSharpLimeGreenHover: #28A428;
$CSharpLinen: #FAF0E6;
$CSharpLinenBorder: #96908A;
$CSharpLinenHover: #C8C0B8;
$CSharpMagenta: #FF00FF;
$CSharpMagentaBorder: #990099;
$CSharpMagentaHover: #CC00CC;
$CSharpMaroon: #800000;
$CSharpMaroonBorder: #4D0000;
$CSharpMaroonHover: #660000;
$CSharpMediumAquamarine: #66CDAA;
$CSharpMediumAquamarineBorder: #3D7B66;
$CSharpMediumAquamarineHover: #52A488;
$CSharpMediumBlue: #0000CD;
$CSharpMediumBlueBorder: #00007B;
$CSharpMediumBlueHover: #0000A4;
$CSharpMediumOrchid: #BA55D3;
$CSharpMediumOrchidBorder: #70337F;
$CSharpMediumOrchidHover: #9544A9;
$CSharpMediumPurple: #9370DB;
$CSharpMediumPurpleBorder: #584383;
$CSharpMediumPurpleHover: #765AAF;
$CSharpMediumSeaGreen: #3CB371;
$CSharpMediumSeaGreenBorder: #246B44;
$CSharpMediumSeaGreenHover: #308F5A;
$CSharpMediumSlateBlue: #7B68EE;
$CSharpMediumSlateBlueBorder: #4A3E8F;
$CSharpMediumSlateBlueHover: #6253BE;
$CSharpMediumSpringGreen: #00FA9A;
$CSharpMediumSpringGreenBorder: #00965C;
$CSharpMediumSpringGreenHover: #00C87B;
$CSharpMediumTurquoise: #48D1CC;
$CSharpMediumTurquoiseBorder: #2B7D7A;
$CSharpMediumTurquoiseHover: #3AA7A3;
$CSharpMediumVioletRed: #C71585;
$CSharpMediumVioletRedBorder: #770D50;
$CSharpMediumVioletRedHover: #9F116A;
$CSharpMidnightBlue: #191970;
$CSharpMidnightBlueBorder: #0F0F43;
$CSharpMidnightBlueHover: #14145A;
$CSharpMintCream: #F5FFFA;
$CSharpMintCreamBorder: #939996;
$CSharpMintCreamHover: #C4CCC8;
$CSharpMistyRose: #FFE4E1;
$CSharpMistyRoseBorder: #998987;
$CSharpMistyRoseHover: #CCB6B4;
$CSharpMoccasin: #FFE4B5;
$CSharpMoccasinBorder: #99896D;
$CSharpMoccasinHover: #CCB691;
$CSharpNavajoWhite: #FFDEAD;
$CSharpNavajoWhiteBorder: #998568;
$CSharpNavajoWhiteHover: #CCB28A;
$CSharpNavy: #000080;
$CSharpNavyBorder: #00004D;
$CSharpNavyHover: #000066;
$CSharpOldLace: #FDF5E6;
$CSharpOldLaceBorder: #98938A;
$CSharpOldLaceHover: #CAC4B8;
$CSharpOlive: #808000;
$CSharpOliveBorder: #4D4D00;
$CSharpOliveHover: #666600;
$CSharpOliveDrab: #6B8E23;
$CSharpOliveDrabBorder: #405515;
$CSharpOliveDrabHover: #56721C;
$CSharpOrange: #FFA500;
$CSharpOrangeBorder: #996300;
$CSharpOrangeHover: #CC8400;
$CSharpOrangeRed: #FF4500;
$CSharpOrangeRedBorder: #992900;
$CSharpOrangeRedHover: #CC3700;
$CSharpOrchid: #DA70D6;
$CSharpOrchidBorder: #834380;
$CSharpOrchidHover: #AE5AAB;
$CSharpPaleGoldenrod: #EEE8AA;
$CSharpPaleGoldenrodBorder: #8F8B66;
$CSharpPaleGoldenrodHover: #BEBA88;
$CSharpPaleGreen: #98FB98;
$CSharpPaleGreenBorder: #5B975B;
$CSharpPaleGreenHover: #7AC97A;
$CSharpPaleTurquoise: #AFEEEE;
$CSharpPaleTurquoiseBorder: #698F8F;
$CSharpPaleTurquoiseHover: #8CBEBE;
$CSharpPaleVioletRed: #DB7093;
$CSharpPaleVioletRedBorder: #834358;
$CSharpPaleVioletRedHover: #AF5A76;
$CSharpPapayaWhip: #FFEFD5;
$CSharpPapayaWhipBorder: #998F80;
$CSharpPapayaWhipHover: #CCBFAA;
$CSharpPeachPuff: #FFDAB9;
$CSharpPeachPuffBorder: #99836F;
$CSharpPeachPuffHover: #CCAE94;
$CSharpPeru: #CD853F;
$CSharpPeruBorder: #7B5026;
$CSharpPeruHover: #A46A32;
$CSharpPink: #FFC0CB;
$CSharpPinkBorder: #99737A;
$CSharpPinkHover: #CC9AA2;
$CSharpPlum: #DDA0DD;
$CSharpPlumBorder: #856085;
$CSharpPlumHover: #B180B1;
$CSharpPowderBlue: #B0E0E6;
$CSharpPowderBlueBorder: #6A868A;
$CSharpPowderBlueHover: #8DB3B8;
$CSharpPurple: #800080;
$CSharpPurpleBorder: #4D004D;
$CSharpPurpleHover: #660066;
$CSharpRed: #FF0000;
$CSharpRedBorder: #990000;
$CSharpRedHover: #CC0000;
$CSharpRosyBrown: #BC8F8F;
$CSharpRosyBrownBorder: #715656;
$CSharpRosyBrownHover: #967272;
$CSharpRoyalBlue: #4169E1;
$CSharpRoyalBlueBorder: #273F87;
$CSharpRoyalBlueHover: #3454B4;
$CSharpSaddleBrown: #8B4513;
$CSharpSaddleBrownBorder: #53290B;
$CSharpSaddleBrownHover: #6F370F;
$CSharpSalmon: #FA8072;
$CSharpSalmonBorder: #964D44;
$CSharpSalmonHover: #C8665B;
$CSharpSandyBrown: #F4A460;
$CSharpSandyBrownBorder: #92623A;
$CSharpSandyBrownHover: #C3834D;
$CSharpSeaGreen: #2E8B57;
$CSharpSeaGreenBorder: #1C5334;
$CSharpSeaGreenHover: #256F46;
$CSharpSeaShell: #FFF5EE;
$CSharpSeaShellBorder: #99938F;
$CSharpSeaShellHover: #CCC4BE;
$CSharpSienna: #A0522D;
$CSharpSiennaBorder: #60311B;
$CSharpSiennaHover: #804224;
$CSharpSilver: #C0C0C0;
$CSharpSilverBorder: #737373;
$CSharpSilverHover: #9A9A9A;
$CSharpSkyBlue: #87CEEB;
$CSharpSkyBlueBorder: #517C8D;
$CSharpSkyBlueHover: #6CA5BC;
$CSharpSlateBlue: #6A5ACD;
$CSharpSlateBlueBorder: #40367B;
$CSharpSlateBlueHover: #5548A4;
$CSharpSlateGray: #708090;
$CSharpSlateGrayBorder: #434D56;
$CSharpSlateGrayHover: #5A6673;
$CSharpSnow: #FFFAFA;
$CSharpSnowBorder: #999696;
$CSharpSnowHover: #CCC8C8;
$CSharpSpringGreen: #00FF7F;
$CSharpSpringGreenBorder: #00994C;
$CSharpSpringGreenHover: #00CC66;
$CSharpSteelBlue: #4682B4;
$CSharpSteelBlueBorder: #2A4E6C;
$CSharpSteelBlueHover: #386890;
$CSharpTan: #D2B48C;
$CSharpTanBorder: #7E6C54;
$CSharpTanHover: #A89070;
$CSharpTeal: #008080;
$CSharpTealBorder: #004D4D;
$CSharpTealHover: #006666;
$CSharpThistle: #D8BFD8;
$CSharpThistleBorder: #827382;
$CSharpThistleHover: #AD99AD;
$CSharpTomato: #FF6347;
$CSharpTomatoBorder: #993B2B;
$CSharpTomatoHover: #CC4F39;
$CSharpTurquoise: #40E0D0;
$CSharpTurquoiseBorder: #26867D;
$CSharpTurquoiseHover: #33B3A6;
$CSharpViolet: #EE82EE;
$CSharpVioletBorder: #8F4E8F;
$CSharpVioletHover: #BE68BE;
$CSharpWheat: #F5DEB3;
$CSharpWheatBorder: #93856B;
$CSharpWheatHover: #C4B28F;
$CSharpWhite: #FFFFFF;
$CSharpWhiteBorder: #999999;
$CSharpWhiteHover: #CCCCCC;
$CSharpWhiteSmoke: #F5F5F5;
$CSharpWhiteSmokeBorder: #939393;
$CSharpWhiteSmokeHover: #C4C4C4;
$CSharpYellow: #FFFF00;
$CSharpYellowBorder: #999900;
$CSharpYellowHover: #CCCC00;
$CSharpYellowGreen: #9ACD32;
$CSharpYellowGreenBorder: #5C7B1E;
$CSharpYellowGreenHover: #7BA428;
