.navbar {
    &.fixed-top {
        +.page-body-wrapper {
            padding-top: $navbar-height;
        }
    }
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
// Sidebar Mini
.sidebar-mini {
    @media (min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: $sidebar-width-mini;
            }

            .navbar-menu-wrapper {
                width: calc(100% - #{$sidebar-width-mini});
            }
        }

        .sidebar {
            width: $sidebar-width-mini;

            .nav {
                .nav-item {
                    .nav-link {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        flex-direction: column;
                        position: relative;

                        .menu-title {
                            display: inline-block;
                        }

                        .badge {
                            margin-left: 5px;
                            display: none;
                        }

                        img {
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            margin-bottom: 10px;
                        }

                        .menu-arrow {
                            position: absolute;
                            right: 7px;
                        }

                        .menu-icon {
                            margin-right: 0;
                        }
                    }

                    &.nav-profile {
                        .nav-link {
                            justify-content: center;

                            .profile-name {
                                display: none;
                            }
                        }

                        i {
                            margin-left: 1rem;
                        }
                    }

                    .sidebar-sticker {
                        display: none;
                    }
                }
            }
        }

        .main-panel {
            width: calc(100% - #{$sidebar-width-mini});
        }

        &:not(.sidebar-icon-only) {
            //Apply these styles only when sidebar-mini is not collapsed to icon-only mode
            .sidebar {
                .nav {
                    &:not(.sub-menu) {
                        > .nav-item {
                            border-top: 1px solid rgba($sidebar-dark-menu-color, .2);

                            &.nav-doc,
                            &.nav-profile {
                                border-top: 0;
                            }

                            .nav-link {
                                height: auto;
                                padding: $sidebar-mini-menu-padding;

                                i {
                                    &.menu-icon {
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }

                    &.sub-menu {
                        padding: 0 0.5rem;

                        .nav-item {
                            .nav-link {
                                padding: 1rem 0;
                                text-align: center;

                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Sidebar Icon Only
.sidebar-icon-only {
    @media (min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: $sidebar-width-icon;

                .brand-logo {
                    display: none;
                }

                .brand-logo-mini {
                    display: flex;
                }
            }

            .navbar-menu-wrapper {
                width: calc(100% - #{$sidebar-width-icon});
            }
        }

        .sidebar {
            width: $sidebar-width-icon;

            .nav {
                overflow: visible;

                .nav-item {
                    position: relative;

                    .nav-link {
                        display: block;
                        text-align: center;
                        padding-left: 10px;
                        padding-right: 10px;

                        .badge,
                        .menu-title {
                            display: none;
                        }

                        i {
                            &.menu-icon {
                                margin-right: 0;
                            }

                            &.menu-arrow {
                                display: none;
                            }
                        }
                    }

                    &.nav-profile,
                    .sidebar-sticker {
                        display: none;
                    }

                    .collapse {
                        display: none;
                    }

                    &.hover-open {
                        .nav-link {
                            .menu-title {
                                display: flex;
                                align-items: center;
                                background: $selected-item-gray;
                                color: $white !important;
                                padding: 10px 12px;
                                left: $sidebar-width-icon;
                                position: absolute;
                                text-align: left;
                                top: 0;
                                width: $sidebar-icon-only-submenu-width;
                                z-index: 1;
                                height: $nav-link-height;
                                line-height: 1.8;
                                border-radius: 0px;

                                &:after {
                                    display: none;
                                }
                            }

                            &[data-toggle=collapse] {
                                .menu-title {
                                    border-bottom-right-radius: 0;

                                    @at-root #{selector-append(".rtl", &)} {
                                        border-bottom-left-radius: 0;
                                    }
                                }
                            }
                        }

                        &.active {
                            .menu-title {
                                background: $base;
                            }
                        }

                        .collapse,
                        .collapsing {
                            display: block;
                            padding: 0.5rem 0;
                            background: $submenu-gray;
                            color: $white;

                            @at-root #{selector-append(".sidebar-dark", &)} {
                                background: $sidebar-dark-menu-hover-bg;
                                color: $sidebar-dark-menu-color;
                            }

                            position: absolute;
                            top: $nav-link-height;
                            left: $sidebar-width-icon;
                            width: $sidebar-icon-only-submenu-width;
                            -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                            -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                            box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
                        }
                    }
                }

                &.sub-menu {
                    padding: $sidebar-icon-only-submenu-padding;

                    .nav-item {
                        .nav-link {
                            text-align: left;
                            color: $white;

                            &:hover {
                                color: darken($white, 20%);
                            }
                        }

                        &:nth-child(5n+1),
                        &:nth-child(5n+2),
                        &:nth-child(5n+3),
                        &:nth-child(5n+4),
                        &:nth-child(5n+5) {
                            .nav-link {
                                &:before {
                                    background: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-panel {
            width: calc(100% - #{$sidebar-width-icon});
        }

        .footer {
            padding-left: calc(#{$sidebar-width-icon} + 1rem);
        }
    }
}

// Hidden Sidebar
.sidebar-hidden {
    @media (min-width: 992px) {
        .sidebar {
            transition: width $action-transition-duration $action-transition-timing-function;
            -webkit-transition: width $action-transition-duration $action-transition-timing-function;
            -moz-transition: width $action-transition-duration $action-transition-timing-function;
            -ms-transition: width $action-transition-duration $action-transition-timing-function;
            width: 0;
        }

        .main-panel {
            width: 100%;
        }
    }
}

// Absolute sidebar with overlay to content
.sidebar-absolute {
    @media (min-width: 992px) {
        .page-body-wrapper {
            position: relative;

            .sidebar {
                transition: none;
            }
        }

        &:not(.sidebar-hidden) {
            .sidebar {
                position: absolute;
                height: 100%;
                -webkit-box-shadow: 0 0 3px 1px #a7a3a3;
                /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                -moz-box-shadow: 0 0 3px 1px #a7a3a3;
                /* Firefox 3.5 - 3.6 */
                box-shadow: 0 0 3px 1px #a7a3a3;
                /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
            }
        }

        .main-panel {
            width: 100%;
            transition: none;
        }
    }
}

//Fixed sidebar
.sidebar-fixed {
    @media(min-width: 992px) {
        .sidebar {
            position: fixed;
            max-height: auto;

            .nav {
                max-height: calc(100vh - #{$navbar-height});
                overflow: auto;
                position: relative;

                &.sub-menu {
                    max-height: none;
                }
            }
        }

        .main-panel {
            margin-left: $sidebar-width-lg;
        }

        &.sidebar-icon-only {
            .main-panel {
                margin-left: $sidebar-width-icon;
            }
        }
    }
}

//Boxed layout
.boxed-layout {
    @media (min-width: 992px) {
        background: lighten(color(gray), 50%);

        .container-scroller {
            width: 100%;
            max-width: $boxed-container-width;
            margin-left: auto;
            margin-right: auto;
        }

        .navbar {
            width: 100%;
            max-width: $boxed-container-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//RTL layout
.rtl {
    direction: rtl;
    text-align: right;

    .sidebar {
        .nav {
            padding-right: 0;

            .nav-item {
                .nav-link {
                    i {
                        &.menu-icon {
                            margin-right: 0;
                            margin-left: 0.5em;
                        }

                        &.menu-arrow {
                            margin-left: 0;
                            margin-right: auto;
                        }
                    }

                    .badge {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }

            &.sub-menu {
                padding: $rtl-sidebar-submenu-padding;
            }
        }
    }

    .product-chart-wrapper,
    .settings-panel .tab-content .tab-pane .scroll-wrapper,
    .sidebar-fixed .nav,
    .table-responsive,
    ul.chats {
        &::-webkit-scrollbar {
            width: 0.5em;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
}