<div class="row-action-container">
    <a class="btn btn-primary px-2 py-1" title="@Action.Title" href="@Action.ActionUrl">@Action.Title</a>
</div>

@code {
    [Parameter]
    public ActionModel Action { get; set; }
}