<div id="entity-table-view">
    <EmEntityView ViewSchema="ViewSchema">
        <EmEntityTableFilter/>
        <EmEntityTable HeadModel="ViewSchema.HeadModel" ViewData="ViewData" HasActions="ViewSchema.HasActions"/>
        <EmEntityTablePagination PaginationModel="ViewData.PaginationModel"/>
    </EmEntityView>
</div>

@code {
    [Parameter]
    public EntityTableViewSchema ViewSchema { get; set; }
    
    [Parameter]
    public EntityTableViewData ViewData { get; set; }
}