$base: #7eb62f;
$base-dark: #5a9900;
$light-gray: #bebebe;
$lighter-gray: #ddd;
$dark-gray: #999;

$blue: #00aeef;
$indigo: #6610f2;
$purple: #ab8ce4;
$pink: #E91E63;
$red: #ff0017;
$orange: #fb9678;
$yellow: #ffd500;
$green: #3bd949;
$teal: #58d8a3;
$cyan: #57c7d4;
$black: #000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$ghost-white: #f7fafc;
$violet: #41478a;
$darkslategray: #2e383e;
$dodger-blue: #3498db;
$light-gray: #bebebe;
$lighter-gray: #e4e5e8;
$primary: $base;
$danger: #ff6258;

$theme-colors: (primary: #7eb62f, secondary: #e6eef2, success: #3c8dde, info: #00aeef, warning: #ffaf00, danger: #ff6258, light: #fbfbfb, dark: #23282d);
$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, white-smoke: #f3f5f6, gray: #bebebe, gray-light: #8ba2b5, gray-lightest: #f7f7f9, gray-dark: #292b2c);