.auth-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .checkbox {
        font-weight: 400;
    }

    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;

        &:focus {
            z-index: 2;
        }
    }
}

.form-message {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;

    a {
        width: 100%;
    }
}
