@{
    ViewData["Title"] = "Dashboard";
}
<div class="w-100 p-3">
    <div id="analytics-app"></div>
</div>

@section Scripts {
    <script src="~/admin/js/vue/vue.vendors.js" asp-append-version="true"></script>
    <script src="~/admin/js/vue/manifest.js" asp-append-version="true"></script>
    <script src="~/admin/js/vue/dashboard.js" asp-append-version="true"></script>
}