@{
    Layout = "_AuthLayout";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <t element="h3">YOUR_REGISTRATION_HAS_BEEN_SUCCESSFULLY_COMPLETED</t>
            <t element="h5">CHECK_YOUR_EMAIL_FOR_CONFIRMATION_LINK</t>
        </div>
    </div>
</div>