@{
    ViewData["Title"] = "Client Builder";
}

<div class="w-100 p-3">
    <div id="analytics-app"></div>
</div>

@section Scripts {
    <script src="~/admin/js/modules/analytics.js" asp-append-version="true"></script>
}