@model AdminChangeEmailViewModel
@{
    ViewData["Title"] = "Change Email";
}
<div class="col-12 grid-margin stretch-card mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Email</h4>
            <form asp-area="Admin" asp-controller="AdminManage" asp-action="ChangeEmailRequest">
                <div class="form-group">
                    <label>New Email</label>
                    <input class="form-control" type="email" asp-for="NewEmail" placeholder="New email" />
                    <span class="text-danger text-small" asp-validation-for="NewEmail"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger text-small"></div>
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Change Email</button>
                </div>
            </form>
        </div>
    </div>
</div>
