@model AdminChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="col-12 grid-margin stretch-card mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <form asp-area="Admin" asp-controller="AdminManage" asp-action="ChangePassword">
                <div class="form-group">
                    <label>Current Password</label>
                    <input class="form-control" type="password" asp-for="CurrentPassword" />
                    <span class="text-danger text-small" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" asp-for="NewPassword" />
                    <span class="text-danger text-small" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label>Confirmed Password</label>
                    <input class="form-control" type="password" asp-for="ConfirmedPassword" />
                    <span class="text-danger text-small" asp-validation-for="ConfirmedPassword"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger text-small"></div>
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
