<div id="entity-view">
    @if (ViewSchema.ComponentTypeForOverTheMain != null)
    {
        <div id="component-for-over-the-main" class="additional-component mb-3">
            <DynamicComponent Type="ViewSchema.ComponentTypeForOverTheMain"/> 
        </div>
    }
    <div class="card">
        <div class="card-body">
            <div id="main-entity-view-content">
                @ChildContent
            </div>
        </div>
    </div>
    @if (ViewSchema.ComponentTypeForBelowTheMain != null)
    {
        <div id="component-for-below-the-main" class="additional-component mt-3">
            <DynamicComponent Type="ViewSchema.ComponentTypeForBelowTheMain"/> 
        </div>
    }
</div>

@code {
    [Parameter]
    public EmPageViewSchema ViewSchema { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}