@using System.Web
@inherits EmBaseElement
<span class="em-html">
    @GetContent()
</span>

@code {
    [Parameter]
    public bool Encoded { get; set; }

    public MarkupString GetContent()
    {
        string value = Value?.ToString();
        if (Encoded)
        {
            value = HttpUtility.HtmlDecode(value);
        }

        return new MarkupString(value ?? string.Empty);
    }
}