@{
    Layout = "_BaseLayout";
    ViewData.SetTitle("Maintenance Mode");
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Maintenance/Index.cshtml", "https://emeraude.dev/client");
}
<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<div class="row">
    <div class="col-1 d-flex">
        <div class="my-auto">
            <img class="w-100" alt="logo" src="~/client/images/logo.svg" />
        </div>
    </div>
    <div class="col-11 d-flex">
        <div class="my-auto">
            <h1 class="m-0">Maintenance Mode</h1>
            <p class="m-0">Sorry for the inconvenience but we are performing some maintenance at the moment.</p>
        </div>
    </div>
</div>
