@page "/admin/{entityKey}/{entityId}"
@using Definux.Emeraude.Admin.UI.Adapters
@implements IDisposable
@inject IEntitiesViewsSchemaProvider EntitiesViewsSchemaProvider;
@inject NavigationManager NavigationManager;
<h3>@EntityKey @EntityId</h3>
@if (ViewSchema != null)
{
    <EmEntityDetailsView ViewSchema="ViewSchema"/>
}

@code {
    private string entityKey;
    private EntityDetailsViewSchema ViewSchema { get; set; }
    
    [Parameter]
    public string EntityKey { get; set; }

    [Parameter]
    public string EntityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.entityKey = EntityKey;
        this.LoadViewSchema();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (!(this.entityKey ?? string.Empty).Equals(EntityKey, StringComparison.OrdinalIgnoreCase))
        {
            this.entityKey = EntityKey;
            this.LoadViewSchema();
        }
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        this.LoadViewSchema();
    }

    private void LoadViewSchema()
    {
        this.ViewSchema = EntitiesViewsSchemaProvider.GetDetailsViewSchema(EntityKey);
        this.StateHasChanged();
        if (this.ViewSchema == null)
        {
            NavigationManager.NavigateTo("/error/404", true, true);
        }
    }
    
    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}