@page "/admin/roots/{root}/{*folders}"
@inherits AdminPage

<h3>@Root</h3>
<p>@Folders</p>


@code {
    [Parameter]
    public string Root { get; set; }
    
    [Parameter]
    public string Folders { get; set; }

    protected override IEnumerable<BreadcrumbItemModel> ConfigureBreadcrumbs()
    {
        return new List<BreadcrumbItemModel>
        {
            new() {Title = "Home", IsActive = true, Order = 1 },
            new() {Title = Root, Order = 2 },
        };
    }
}