@model RolesViewModel
@{
    ViewData.SetTitle("Select Roles");
}
<div class="col-12 col-md-6 grid-margin stretch-card mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Select Roles</h4>
            <form asp-area="Admin" asp-controller="AdminUsers" asp-action="Roles">
                @if (Model.RoleOptions != null && Model.RoleOptions.Count > 0)
                {
                    @for (int i = 0; i < Model.RoleOptions.Count; i++)
                    {
                        <div class="form-check form-check-flat">
                            <label class="form-check-label" for="role-check-@Model.RoleOptions[i].Name">
                                <input class="form-check-input" @(Model.SelectedRoles.Contains(Model.RoleOptions[i].Value) ? "checked=\"checked\"" : string.Empty) type="checkbox" name="SelectedRoles[]" value="@Model.RoleOptions[i].Value" id="role-check-@Model.RoleOptions[i].Name">
                                @Model.RoleOptions[i].Name
                            </label>
                        </div>
                    }
                }
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>