<div id="entity-table-view">
    <EmPageView ViewSchema="ViewSchema" HasViewData="@(ViewData != null)">
        @if (ViewData != null)
        {
            <EmPageTableFilter/>
            <EmPageTable HeadModel="ViewSchema.HeadModel" ViewData="ViewData" HasActions="ViewSchema.HasActions"/>
            <EmPageTablePagination PaginationModel="ViewData.PaginationModel"/>
        }
    </EmPageView>
</div>

@code {
    [Parameter]
    public EmPageTableViewSchema ViewSchema { get; set; }
    
    [Parameter]
    public EmPageTableViewData ViewData { get; set; }
}