@model AdminLoginWith2FaViewModel
@{
    Layout = "_AdminAuthLayout";
    ViewData["Title"] = "Admin Login with 2 Factor Authentication";
}
<form asp-area="Admin" asp-controller="AdminAuthentication" asp-action="LoginWith2fa" method="post">
    <div class="form-group mb-2">
        <label>Authentication Code</label>
        <input asp-for="TwoFactorCode" class="form-control" placeholder="Enter authentication code"/>
    </div>
        <div class="my-3">
            <form-visible-recaptcha />
        </div>
    <div class="form-group">
        <button class="btn btn-primary w-100 submit-btn">Login</button>
    </div>
</form>