@model RootCreateFolderViewModel

@{
    string rootPath = $"{Model.Root} Root{(string.IsNullOrWhiteSpace(Model.ParentFolderPath) ? "" : "\\")}{Model.ParentFolderPath}".Replace("/", "\\");
    string backUrl = $"/admin/roots/{Model.Root.ToLower()}{(string.IsNullOrWhiteSpace(Model.ParentFolderPath) ? "" : "/")}{Model.ParentFolderPath}";
    ViewData["Title"] = "Create Folder |" + rootPath;

    string[] rootPathFolders = rootPath.Split('\\');
}

<div class="col-12 col-md-6 grid-margin stretch-card mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-transform-none">
                <a class="btn btn-primary btn-sm py-1 px-2" href="@backUrl">Back to @rootPath</a>
            </h4>
            <form action="/admin/roots/@Model.Root.ToLower()/create-folder" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" asp-for="FolderName" class="form-control" placeholder="Folder's name" />
                    <span class="text-small text-danger" asp-validation-for="FolderName"></span>
                </div>
                <input type="hidden" asp-for="ParentFolderPath"/>
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
