@{
    ViewData["Title"] = "Client Builder";
}

<div class="w-100 p-3">
    <development-only-notification-alert></development-only-notification-alert>
    <div id="client-builder-app"></div>
</div>

@section Scripts {
    <script src="~/admin/js/modules/client-builder.js" asp-append-version="true"></script>
}