.btn {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid $button-border-gray-color;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 $white;
    color: $button-text-gray-color;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: $button-main-gray-color;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($button-secondary-gray-color), to($button-main-gray-color));
    background-image: -moz-linear-gradient($button-secondary-gray-color, $button-main-gray-color);
    background-image: -ms-linear-gradient($button-secondary-gray-color, $button-main-gray-color);
    background-image: -o-linear-gradient($button-secondary-gray-color, $button-main-gray-color);
    background-image: linear-gradient($button-secondary-gray-color, $button-main-gray-color);
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 0.2em;
    font-size: $btn-font-size;
    line-height: 1;
    font-family: $type-1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    i {
        margin-right: 0.3125rem;
        font-size: inherit;
    }

    .btn-label {
        &:before {
            font-size: 1rem;
            line-height: 5px;
            vertical-align: middle;
        }

        &.btn-label-left {
            margin-right: 5px;
        }

        &.btn-label-right {
            margin-left: 5px;
        }
    }

    &.btn-rounded {
        border-radius: 50px;
    }

    &.btn-icons {
        width: 30px;
        height: 30px;
        padding: 0px !important;
        text-align: center;
        font-size: 20px !important;
        vertical-align: middle;
        text-shadow: none !important;
        line-height: 30px;

        i {
            margin: auto;
            line-height: initial;
        }
    }

    &.btn-fw {
        min-width: $button-fixed-width;
    }

    &.icon-btn {
        i {
            margin-right: 0;
        }
    }

    &.btn-sm {
        font-size: $btn-font-size-sm;
    }

    &.btn-lg {
        font-size: $btn-font-size-lg;
    }

    &.btn-xs {
        padding: $btn-padding-y-xs $btn-padding-x-xs;
        font-size: $btn-font-size-xs;
    }

    &.btn-transparent {
        background: transparent;
    }
    
    &.btn-secondary,
    &.btn-danger,
    &.btn-info,
    &.btn-success,
    &.btn-dark,
    &.btn-warning {
        color: $white;
    }

    &.btn-light {
        text-shadow: none !important;
    }

    @each $color, $value in $theme-colors-sample {
        &.btn-#{$color} {
            @include gradient-background-color($value);
            text-decoration: none;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
            border-color: darken($value, 6%) !important;

            &:hover {
                &.btn:not(.btn-disabled) {
                    @include gradient-background-color(darken($value, 10%));
                    border-color: darken($value, 10%) !important;
                    text-decoration: none;
                    color: $white;
                }
            }

            &:active, &:focus {
                border-color: darken($value, 10%) !important;
            }
        }
    }
    
    &:hover {
        &.btn:not(.btn-disabled) {
            @include gradient-background-color($primary);
            text-decoration: none;
            color: $white;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            
            &.btn-primary {
                border-color: darken($primary, 3%) !important;
            }
        }
        
        &.btn-light {
            color: $button-text-gray-color !important;
        }
    }

    &:active, &:focus {
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

        &.btn-primary {
            @include gradient-background-color-inverse($primary);
            color: $white;
            border-color: darken($primary, 5%)  !important;
        }
    }
}

.nav-item {
    .btn {
        &.active {
            @include gradient-background-color($primary);
            border-color: darken($primary, 3%);
            text-decoration: none;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        }
    }
}

.btn-group {
    border: $border-width solid $border-color;
    border-radius: $btn-border-radius;

    .btn {
        border-top: none;
        border-bottom: none;
        border-left: none;

        &:last-child {
            border-right: none;
        }

        @each $color, $value in $theme-colors {
            &.btn-#{$color} {
                border-color: darken($value, 3%);
            }
        }
    }
}

.btn-toolbar {
    .btn-group {
        + .btn-group {
            margin-left: $spacer * .5;
        }
    }
}