.input-group-append,
.input-group-prepend {
  background: color(white);
  color: $input-placeholder-color;
  width: auto;
  border: none;
  .input-group-text {
    background: transparent;
    border-color: $border-color;
  }
}

.form-group {
  .form-label {
    font-size: .8rem;
    margin-bottom: .25rem;
  }
}

.form-control,
.form-select {
  font-size: 14px;
  padding: .56rem .68rem;
  border-radius: $border-radius;

  &:focus {
    border-color: darken($border-color, 10%);
    box-shadow: 0 0 0 0.15rem lighten($base-focus-box-shadow, 5%);
  }

  &.is-valid {
    border-color: $border-color;
    background-size: calc(0.6em + 0.3rem) calc(0.6em + 0.3rem);
  }

  &.is-invalid {
    border-color: $border-color;
    background-size: calc(0.6em + 0.3rem) calc(0.6em + 0.3rem);
  }
}

.form-check-input {
  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1.7;
    vertical-align: top;
  }
  &.has-danger {
    .form-control {
      border-color: $danger;
    }
  }
  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }
  .file-upload-info {
    background: transparent;
  }
}
